body{
	color: #aaa;
	background-color: #1E1E1E;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 62.5%;
	margin: auto;
	width: 700px;
	overflow: hidden;
}

a{
	color: #0487DC;
	background-color: transparent;
	text-decoration: none;
}

img, a img{
	border: 0;
}

#header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
}

#header h1{
	margin: 0 10px;
	line-height: 40px;
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	letter-spacing: -.05em;
}

#header ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
}

#header ul li{
	display: inline;
}

#header ul li a{
	display: -moz-inline-box;
	display: inline-block;
	color: #fff;
	background-color: #2B2B2B;
	font-weight: bold;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	padding: 5px 10px;
	margin: 8px 8px 8px 0;
	text-transform: uppercase;
}

#header ul li a:hover{
	color: #fff;
	background-color: #0487DC;
}

#twistori-mode{
	position: absolute;
	z-index: 9999999;
	bottom: 0;
	right: 2em;
	padding: 1em;
	color: #fff;
	background-color: #0487DC;
	font-weight: bold;
	opacity: .5;
	-moz-opacity: .5;
	-webkit-opacity: .5;
}

#twistori-mode:hover{
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}

#tweetsContainer{
	position: absolute;
	top: 40px;
	bottom: 0;
	right: 0;
	width: 300px;
	overflow: auto;
}

#tweetTrendy{
	color: #fff;
	background-color: #0487DC;
	font-size: 1.3em;
	text-align: center;
	padding: 10px;
}

#tweetsList{
	font-size: 1.3em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: inherit;
	background-color: #222;
}

#tweetsList li{
	clear: left;
	padding: 10px;
	line-height: 1.5em;
	overflow: hidden;
}

#tweetsList li:first-child{
	color: #fefefe;
	background-color: transparent;
}

#tweetsList li:hover{
	color: #fefefe;
	background-color: #2B2B2B;
}

#tweetsList mark{
	border-bottom: 1px dotted #666;
}

#tweetsList .avatar{
	float: left;
	width: auto;
	margin-top: 5px;
}

#tweetsList .avatar img{
	width: 24px;
	height: 24px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
}

#tweetsList .tweet{
	margin-left: 30px;
}

#tweetsList .timesince{
	font-size: .8em;
	text-align: right;
	line-height: 1em;
}

#tweetsList .timesince a{
	color: #666;
}

#ircRoomContainer{
	position: absolute;
	top: 40px;
	left: 0;
	right: 300px;
	bottom: 0;
}

#ircRoom{
	border: 0;
	height: 100%;
	width: 100%;
}

.twistori #tweetsContainer{
	width: 100%;
	top: 0;
}

.twistori #tweetTrendy{
	font-size: 2.75em;
}

.twistori #tweetsList{
	font-size: 3.5em;
}

.twistori #tweetsList li{
	padding: 20px;
}

.twistori #tweetsList .avatar img{
	width: 73px;
	height: 73px;
}

.twistori #tweetsList .timesince{
	display: none;
}

.twistori #tweetsList .tweet{
	margin-left: 90px;
}

.twistori #ircRoomContainer{
	width: 0;
	height: 0;
}